/* common settings */
* {
  margin: 0;
  padding: 0;
}

p {
  padding: 0 5px;
}

.blocks {
  width: 100vw;
  white-space: nowrap;
}

.blocks__row1,
.blocks__row2 {
  display: flex;
}

.blocks,
.blocks__column1,
.blocks__column2,
.blocks__column3 {
  display: flex;
  flex-direction: column;
}

.blocks__row1,
.blocks__subcolumn1,
.blocks__item1,
.blocks__item2 {
  flex-grow: 1;
}

.blocks__subcolumn1,
.blocks__subcolumn2,
.blocks__column3 {
  display: flex;
}

.blocks__item3,
.blocks__item4 {
  width: 150px;
}

.blocks__column1 {
  background-color: #2EFEF7;
  width: 100%;
  height: auto;
}

.blocks__column2 {
  background-color: #FA5882;
}

.blocks__column3 {
  background-color: #81F7BE;
}

.blocks__item1,
.blocks__item2,
.blocks__item3,
.blocks__item4 {
  border: 1px solid #000;
}

.blocks__column1 .blocks__item1 {
  border-bottom: 0px;
}

.blocks__column1 .blocks__item1,
.blocks__column1 .blocks__item2,
.blocks__subcolumn2 .blocks__item3 {
  border-right: 0px;
}

.blocks__subcolumn1 .blocks__item3,
.blocks__subcolumn1 .blocks__item4 {
  border-right: 0px;
  border-bottom: 0px;
}

.blocks__row1 .blocks__column3 .blocks__subcolumn2 .blocks__item3 {
  border-bottom: 0px;
}

.blocks__column3 .blocks__subcolumn2 .blocks__item3:last-of-type,
.blocks__column3 .blocks__subcolumn1 .blocks__item3:last-of-type {
  border-right: 1px solid #000;
}

@media (max-width: 768px) {

  .blocks__column3,
  .blocks__subcolumn1,
  .blocks__subcolumn2 {
    flex-direction: column;
  }

  .blocks__item4 {
    flex-grow: 1;
  }

  .blocks__subcolumn1 .blocks__item4,
  .blocks__column3 .blocks__subcolumn2 .blocks__item3 {
    border-right: 1px solid #000;
  }

  .blocks__subcolumn2 .blocks__item3:first-of-type {
    border-bottom: 0px;
  }

  .blocks__column3 .blocks__subcolumn1 .blocks__item3 {
    border-right: 1px solid #000;
  }
}
